@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #232324;
}

.container {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 90%;
  margin: auto;
}
.container .main {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}
.container .main .menu {
  width: 100%;
  height: 550px;
  background-color: #343539;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  border-radius: 20px;
  flex-basis: 20%;
}
.container .main .menu .photo {
  margin: auto;
  width: 180px;
  height: 180px;
}
.container .main .menu .photo .img {
  margin: auto;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 20px;
  background: #dbcef3;
}
.container .main .menu .photo .img img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.container .main .menu .text {
  margin: auto;
  width: 250px;
  height: 61px;
}
.container .main .menu .text h2 {
  text-align: center;
  color: white;
  font-family: "Poppins", sans-serif;
  line-height: 1.618;
  font-size: 25px;
}
.container .main .menu .btn {
  margin: auto;
  width: 200px;
  height: 61px;
  margin-top: -10px;
}
.container .main .menu .btn .buttons-io-button {
  margin: auto;
  background: #ffb400;
  color: white;
  font-family: sans-serif;
  padding-left: 1.2em;
  font-size: 17px;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #ffb400;
  height: 2.8em;
  width: 150px;
  text-align: center;
}
.container .main .menu .link {
  margin: auto;
  width: 300px;
  height: 150px;
}
.container .main .menu .link .list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 30px;
}
.container .main .menu .link .list a {
  text-decoration: none;
}
.container .main .menu .link .list li {
  margin: auto;
  text-align: center;
  height: 20px;
}
.container .main .menu .link .list li:hover span {
  display: block;
  transform: translateY(4px);
}
.container .main .menu .link .list li span {
  display: none;
  text-align: center;
  position: relative;
  transition: 500ms;
  transform: translateY(-8px);
  color: #fff;
  font-family: sans-serif;
  font-size: 12px;
}
.container .main .menu .link .list li i {
  display: block;
}
.container .main .menu .link .list li .bx {
  color: #ffb400;
  font-size: 20px;
}
.container .main .menu2 {
  width: 100px;
  height: 550px;
  background-color: #343539;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  border-radius: 20px;
  transition: 1s;
}
.container .main .menu2 .photo {
  margin: auto;
  width: 80px;
  height: 80px;
}
.container .main .menu2 .photo .img {
  margin: auto;
  width: 70px;
  height: 70px;
  border: 1px solid white;
  border-radius: 50%;
  margin-top: 10px;
  background-color: #ffffff;
}
.container .main .menu2 .photo .img img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.container .main .menu2 .text {
  margin: auto;
  width: 80px;
  height: 50px;
}
.container .main .menu2 .text h2 {
  text-align: center;
  color: white;
  font-family: "Poppins", sans-serif;
  line-height: 1.618;
  font-size: 14px;
}
.container .main .menu2 .btn {
  margin: auto;
  width: 200px;
  height: 61px;
  margin-top: -10px;
  display: none;
}
.container .main .menu2 .btn .buttons-io-button {
  margin: auto;
  background: #ffb400;
  color: white;
  font-family: sans-serif;
  padding-left: 1.2em;
  font-size: 17px;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #ffb400;
  height: 2.8em;
  width: 150px;
  text-align: center;
}
.container .main .menu2 .link {
  margin: auto;
  width: 100px;
  height: 150px;
}
.container .main .menu2 .link .list {
  margin-top: 40%;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 30px;
}
.container .main .menu2 .link .list a {
  text-decoration: none;
}
.container .main .menu2 .link .list li {
  margin: auto;
  text-align: center;
  height: 20px;
}
.container .main .menu2 .link .list li:hover span {
  display: block;
  transform: translateY(4px);
}
.container .main .menu2 .link .list li span {
  display: none;
  text-align: center;
  position: relative;
  transition: 500ms;
  transform: translateY(-8px);
  color: #fff;
  font-family: sans-serif;
  font-size: 12px;
}
.container .main .menu2 .link .list li i {
  display: block;
}
.container .main .menu2 .link .list li .bx {
  color: #ffb400;
  font-size: 20px;
}
.container .main #content {
  width: 100%;
  flex-basis: 100%;
  height: 550px;
  background-color: #343539;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  z-index: 99;
}
.container .main #content #Home-page {
  direction: ltr;
  margin: auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 99999;
}
.container .main #content #Home-page .card {
  width: 100%;
  height: auto;
  flex-basis: 30%;
}
.container .main #content #Home-page .card img {
  width: 300px;
  height: 350px;
}
.container .main #content #Home-page .about {
  width: 100%;
  height: 400px;
  flex-basis: 50%;
}
.container .main #content #Home-page .about p {
  padding-bottom: 20px;
  margin-bottom: 20px;
  margin-top: 30px;
  font-size: 20px;
  margin-left: 40px;
  color: #ffb400;
  font-family: sans-serif;
}
.container .main #content #Home-page .about h2 {
  margin-left: 40px;
  font-family: sans-serif;
}
.container .main #content #Home-page .about span {
  color: #e0e0e0;
  font-family: sans-serif;
}
.container .main #content #About-page {
  width: 100%;
  margin: auto;
  overflow-x: hidden;
  overflow-y: scroll;
}
.container .main #content #About-page .main-1 {
  width: 95%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.container .main #content #About-page .main-1 .info {
  width: 100%;
  flex-basis: 100%;
  color: white;
}
.container .main #content #About-page .main-1 .info h3 {
  font-family: "Muli", sans-serif;
  font-size: 20px;
  line-height: 1.3;
  color: #cbcbcb;
  margin: 20px 0;
}
.container .main #content #About-page .main-1 .info p {
  font-size: 18px;
  color: #6b6666;
  margin: 20px 0;
  font-family: "Muli", sans-serif;
  font-weight: 300;
}
.container .main #content #About-page .main-1 .info ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  list-style: none;
  width: 500px;
  opacity: 0.8;
  margin-top: 5px;
  margin-bottom: 10px;
}
.container .main #content #About-page .main-1 .info ul li {
  margin-top: 10px;
  font-family: sans-serif;
}
.container .main #content #About-page .main-1 .info ul span {
  opacity: 0.8;
  color: #c9e9f6;
  font-family: sans-serif;
  font-size: 13px;
}
.container .main #content #About-page .main-1 .info .btn {
  width: 200px;
  height: 61px;
}
.container .main #content #About-page .main-1 .info .btn .buttons-io-button {
  background: #ffb400;
  color: white;
  font-family: sans-serif;
  padding-left: 1.2em;
  font-size: 17px;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #ffb400;
  height: 2.8em;
  width: 150px;
  text-align: center;
}
.container .main #content #About-page .main-1 .about-p {
  direction: ltr;
  width: 100%;
  flex-basis: 90%;
}
.container .main #content #About-page .main-1 .about-p .profile {
  margin: auto 15px;
  margin-left: 40px;
  width: 370px;
  height: 450px;
  border: 1px solid black;
  border-radius: 32px 32px 0;
  position: relative;
  top: 16px;
  background: #d1bdee;
}
.container .main #content #About-page .main-1 .about-p .profile img {
  width: 370px;
  height: 450px;
  border-radius: 32px 32px 0;
}
.container .main #content #About-page .main-1 .about-p .profile::before {
  content: "";
  width: 85%;
  height: 100%;
  position: absolute;
  z-index: -1 !important;
  top: -20px;
  border-radius: 32px 32px 0;
  right: -2rem;
  border: 1px solid #ffb400;
}
.container .main #content #About-page .main-2 {
  width: 90%;
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: auto;
  border-top: 2px solid;
  border-bottom: 2px solid;
  margin-bottom: 20px;
  border-image: linear-gradient(0.25turn, rgb(239, 212, 148), rgb(255, 180, 0), rgb(245, 216, 146));
  border-image-slice: 1;
}
.container .main #content #About-page .main-2 #counter1 {
  width: 150px;
  height: 100px;
  margin-top: 20px;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.container .main #content #About-page .main-2 #counter1 .bx {
  text-align: center;
  font-size: 28px;
  color: #ffb400;
  margin-bottom: 10px;
}
.container .main #content #About-page .main-2 #counter1 h2 {
  color: #969a9b;
  margin-bottom: 5px;
}
.container .main #content #About-page .main-2 #counter1 p {
  color: #cbccce;
}
.container .main #content #About-page .main-2 #counter2 {
  width: 150px;
  height: 100px;
  margin-top: 20px;
  font-family: "Poppins", sans-serif;
  text-align: center;
}
.container .main #content #About-page .main-2 #counter2 .bx {
  text-align: center;
  font-size: 28px;
  color: #ffb400;
  margin-bottom: 10px;
}
.container .main #content #About-page .main-2 #counter2 h2 {
  color: #969a9b;
  margin-bottom: 5px;
}
.container .main #content #About-page .main-2 #counter2 p {
  color: #cbccce;
}
.container .main #content #About-page .main-2 #counter3 {
  width: 150px;
  height: 100px;
  margin-top: 20px;
  font-family: "Poppins", sans-serif;
  text-align: center;
}
.container .main #content #About-page .main-2 #counter3 .bx {
  text-align: center;
  font-size: 28px;
  color: #ffb400;
  margin-bottom: 10px;
}
.container .main #content #About-page .main-2 #counter3 h2 {
  color: #969a9b;
  margin-bottom: 5px;
}
.container .main #content #About-page .main-2 #counter3 p {
  color: #cbccce;
}
.container .main #content #About-page .main-2 #counter4 {
  width: 150px;
  height: 100px;
  margin-top: 20px;
  font-family: "Poppins", sans-serif;
  text-align: center;
}
.container .main #content #About-page .main-2 #counter4 h2 {
  color: #969a9b;
  margin-bottom: 5px;
}
.container .main #content #About-page .main-2 #counter4 p {
  color: #cbccce;
}
.container .main #content #About-page .main-2 #counter4 .bx {
  text-align: center;
  font-size: 28px;
  color: #ffb400;
  margin-bottom: 10px;
}
.container .main #content #About-page .main-3 {
  width: 90%;
  height: 220px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: auto;
}
.container .main #content #About-page .main-3 .about-boxes {
  width: 500px;
  height: 150px;
  flex-basis: 100%;
  margin-top: 10px;
}
.container .main #content #About-page .main-3 .about-boxes h2 {
  font-family: "Poppins", sans-serif;
  line-height: 1.618;
  color: white;
}
.container .main #content #About-page .main-3 .about-boxes p {
  font-family: "Poppins", sans-serif;
  line-height: 1.618;
  color: #969a9b;
}
.container .main #content #About-page .main-3 .about-item {
  width: 200px;
  height: 100px;
  flex-basis: 100%;
}
.container .main #content #About-page .main-3 .about-item ul {
  list-style: none;
  margin-left: 20%;
}
.container .main #content #About-page .main-3 .about-item ul li {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  line-height: 2.5;
}
.container .main #content #About-page .main-3 .about-item ul li::before {
  content: "◉";
  margin-right: 8px;
  font-size: 16px;
  color: #ffb400;
}
.container .main #content #About-page .main-4 {
  width: 90%;
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: auto;
}
.container .main #content #About-page .main-4 .about-skills {
  width: 100%;
  height: 100px;
  flex-basis: 100%;
}
.container .main #content #About-page .main-4 .about-skills .blue .progress-bar, .container .main #content #About-page .main-4 .about-skills .blue span, .container .main #content #About-page .main-4 .about-skills .blue span:after {
  background-color: #6D4D00;
}
.container .main #content #About-page .main-4 .about-skills .yellow .progress-bar, .container .main #content #About-page .main-4 .about-skills .yellow span, .container .main #content #About-page .main-4 .about-skills .yellow span:after {
  background-color: #A47300;
}
.container .main #content #About-page .main-4 .about-skills .green .progress-bar, .container .main #content #About-page .main-4 .about-skills .green span, .container .main #content #About-page .main-4 .about-skills .green span:after {
  background-color: #b27e06;
}
.container .main #content #About-page .main-4 .about-skills .carrot .progress-bar, .container .main #content #About-page .main-4 .about-skills .carrot span, .container .main #content #About-page .main-4 .about-skills .carrot span:after {
  background-color: #EDA600;
}
.container .main #content #About-page .main-4 .about-skills .sun .progress-bar, .container .main #content #About-page .main-4 .about-skills .sun span, .container .main #content #About-page .main-4 .about-skills .sun span:after {
  background-color: #f3c559;
}
.container .main #content #About-page .main-4 .about-skills h3 {
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  letter-spacing: 5px;
  color: #737373;
  margin: 0px;
  font-size: 20px;
  margin-bottom: 15px;
}
.container .main #content #About-page .main-4 .about-skills p {
  font-size: 16px;
  margin-bottom: 8px;
  font-family: "Poppins", sans-serif;
  color: #fff;
}
.container .main #content #About-page .main-4 .about-skills .progress {
  width: 100%;
  height: 10px;
  border: 1px solid #969a9b;
  position: relative;
  margin-bottom: 10px;
}
.container .main #content #About-page .main-4 .about-skills .progress .progress-bar {
  width: 0;
  height: 100%;
}
.container .main #content #About-page .main-4 .about-skills .progress .progress-bar span {
  top: -30px;
  margin-left: -22px;
  left: 0;
  position: absolute;
  color: #fff;
  border-radius: 2px;
  padding: 4px 10px;
  font-size: 12px;
}
.container .main #content #About-page .main-4 .about-skills .progress .progress-bar span::after {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  position: absolute;
  bottom: -4px;
  left: 50%;
  margin-left: -4px;
  transform: rotate(45deg);
}
.container .main #content #About-page .main-4 .about-skills .skills {
  width: 500px;
  padding: 10px;
  position: relative;
}
.container .main #content #About-page .main-4 .about-skills .skills .cont p {
  font-family: "Poppins", sans-serif;
}
.container .main #content #About-page .main-4 .about-Language {
  width: 100%;
  flex-basis: 100%;
}
.container .main #content #About-page .main-4 .about-Language h3 {
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  letter-spacing: 5px;
  color: #737373;
  font-size: 20px;
  margin-bottom: 15px;
  padding-left: 20%;
}
.container .main #content #About-page .main-4 .about-Language .Lanquage-Pro {
  width: 400px;
  height: 60px;
  margin-left: 20%;
}
.container .main #content #About-page .main-4 .about-Language .Lanquage-Pro h4 {
  font-family: "Poppins", sans-serif;
  line-height: 1.618;
  margin-bottom: 20px;
  margin-top: 15px;
  color: white;
}
.container .main #content #About-page .main-4 .about-Language .Lanquage-Pro h4 span {
  font-size: 14px;
  font-weight: normal;
  color: #969a9b;
}
.container .main #content #About-page .main-4 .about-Language .Lanquage-Pro ul {
  list-style: circle;
}
.container .main #content #About-page .main-4 .about-Language .Lanquage-Pro ul li {
  display: inline-block;
  padding-right: 20px;
}
.container .main #content #About-page .main-4 .about-Language .Lanquage-Pro ul li .bx {
  color: #ffb400;
  font-size: 15px;
}
.container .main #content #About-page .main-5 {
  width: 90%;
  height: 200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-image: linear-gradient(45deg, #8B5CF6, #EC4899);
  font-family: "Montserrat", sans-serif;
}
.container .main #content #Resume-page {
  margin: auto;
  width: 99%;
  height: 70vh;
  overflow: hidden;
  overflow-y: scroll;
}
.container .main #content #Resume-page .tittle {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 20px;
}
.container .main #content #Resume-page .tittle h3 {
  font-size: 25px;
  color: #f8bc31;
  font-family: "Poppins", sans-serif;
}
.container .main #content #Resume-page .services-about {
  width: 90%;
  margin: auto;
  height: 65vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 5%;
}
.container .main #content #Resume-page .services-about #s1 {
  width: 500px;
  height: 150px;
  border-right: 2px solid;
  border-bottom: 2px solid;
  border-image: linear-gradient(0.25turn, rgb(239, 212, 148), rgb(255, 180, 0), rgb(245, 216, 146));
  border-image-slice: 1;
}
.container .main #content #Resume-page .services-about #s1 .bx {
  font-size: 36px;
  color: #ffb400;
  margin-bottom: 10px;
}
.container .main #content #Resume-page .services-about #s1 h3 {
  font-family: "Poppins", sans-serif;
  margin-bottom: 10px;
  color: #fff;
}
.container .main #content #Resume-page .services-about #s1 p {
  font-family: "Poppins", sans-serif;
  color: #000000;
}
.container .main #content #Resume-page .services-about #s2 {
  width: 500px;
  height: 150px;
  border-bottom: 2px solid;
  border-image: linear-gradient(0.25turn, rgb(239, 212, 148), rgb(255, 180, 0), rgb(245, 216, 146));
  border-image-slice: 1;
  padding-left: 10px;
}
.container .main #content #Resume-page .services-about #s2 .bx {
  font-size: 36px;
  color: #ffb400;
  margin-bottom: 10px;
}
.container .main #content #Resume-page .services-about #s2 h3 {
  font-family: "Poppins", sans-serif;
  margin-bottom: 10px;
  color: #fff;
}
.container .main #content #Resume-page .services-about #s2 p {
  font-family: "Poppins", sans-serif;
  color: #969a9b;
}
.container .main #content #Resume-page .services-about #s3 {
  width: 500px;
  height: 150px;
  border-right: 2px solid;
  border-bottom: 2px solid;
  border-image: linear-gradient(0.25turn, rgb(239, 212, 148), rgb(255, 180, 0), rgb(245, 216, 146));
  border-image-slice: 1;
}
.container .main #content #Resume-page .services-about #s3 .bx {
  font-size: 36px;
  color: #ffb400;
  margin-bottom: 10px;
}
.container .main #content #Resume-page .services-about #s3 h3 {
  font-family: "Poppins", sans-serif;
  margin-bottom: 10px;
  color: #fff;
}
.container .main #content #Resume-page .services-about #s3 p {
  font-family: "Poppins", sans-serif;
  color: #969a9b;
}
.container .main #content #Resume-page .services-about #s4 {
  width: 500px;
  height: 150px;
  padding-left: 10px;
  border-bottom: 2px solid;
  border-image: linear-gradient(0.25turn, rgb(239, 212, 148), rgb(255, 180, 0), rgb(245, 216, 146));
  border-image-slice: 1;
}
.container .main #content #Resume-page .services-about #s4 .bx {
  font-size: 36px;
  color: #ffb400;
  margin-bottom: 10px;
}
.container .main #content #Resume-page .services-about #s4 h3 {
  font-family: "Poppins", sans-serif;
  margin-bottom: 10px;
  color: #fff;
}
.container .main #content #Resume-page .services-about #s4 p {
  font-family: "Poppins", sans-serif;
  color: #969a9b;
}
.container .main #content #Resume-page .services-about #s5 {
  width: 500px;
  height: 150px;
  border-right: 2px solid;
  border-bottom: 2px solid;
  border-image: linear-gradient(0.25turn, rgb(239, 212, 148), rgb(255, 180, 0), rgb(245, 216, 146));
  border-image-slice: 1;
}
.container .main #content #Resume-page .services-about #s5 .bx {
  font-size: 36px;
  color: #ffb400;
  margin-bottom: 10px;
}
.container .main #content #Resume-page .services-about #s5 h3 {
  font-family: "Poppins", sans-serif;
  margin-bottom: 10px;
  color: #fff;
}
.container .main #content #Resume-page .services-about #s5 p {
  font-family: "Poppins", sans-serif;
  color: #969a9b;
}
.container .main #content #Resume-page .services-about #s6 {
  width: 500px;
  height: 150px;
  border-bottom: 2px solid;
  border-image: linear-gradient(0.25turn, rgb(239, 212, 148), rgb(255, 180, 0), rgb(245, 216, 146));
  border-image-slice: 1;
  padding-left: 10px;
}
.container .main #content #Resume-page .services-about #s6 .bx {
  font-size: 36px;
  color: #ffb400;
  margin-bottom: 10px;
}
.container .main #content #Resume-page .services-about #s6 h3 {
  font-family: "Poppins", sans-serif;
  margin-bottom: 10px;
  color: #fff;
}
.container .main #content #Resume-page .services-about #s6 p {
  font-family: "Poppins", sans-serif;
  color: #969a9b;
}
.container .main #content #Resume-page .resume-about {
  width: 90%;
  margin: auto;
  height: 42vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 5%;
}
.container .main #content #Resume-page .resume-about #s7 {
  width: 500px;
  height: 150px;
  border-right: 2px solid;
  border-bottom: 2px solid;
  border-image: linear-gradient(0.25turn, rgb(239, 212, 148), rgb(255, 180, 0), rgb(245, 216, 146));
  border-image-slice: 1;
}
.container .main #content #Resume-page .resume-about #s7 h2 {
  font-size: 20px;
  color: #ffb400;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
}
.container .main #content #Resume-page .resume-about #s7 h3 {
  font-family: "Poppins", sans-serif;
  margin-bottom: 10px;
  color: #fff;
}
.container .main #content #Resume-page .resume-about #s7 p {
  font-family: "Poppins", sans-serif;
  color: #969a9b;
}
.container .main #content #Resume-page .resume-about #s8 {
  width: 500px;
  height: 150px;
  border-bottom: 2px solid;
  border-image: linear-gradient(0.25turn, rgb(239, 212, 148), rgb(255, 180, 0), rgb(245, 216, 146));
  border-image-slice: 1;
  padding-left: 10px;
}
.container .main #content #Resume-page .resume-about #s8 h2 {
  font-size: 20px;
  color: #ffb400;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
}
.container .main #content #Resume-page .resume-about #s8 h3 {
  font-family: "Poppins", sans-serif;
  margin-bottom: 10px;
  color: #fff;
}
.container .main #content #Resume-page .resume-about #s8 p {
  font-family: "Poppins", sans-serif;
  color: #969a9b;
}
.container .main #content #Resume-page .resume-about #s9 {
  width: 500px;
  height: 150px;
  border-right: 2px solid;
  border-bottom: 2px solid;
  border-image: linear-gradient(0.25turn, rgb(239, 212, 148), rgb(255, 180, 0), rgb(245, 216, 146));
  border-image-slice: 1;
  padding-top: 10px;
}
.container .main #content #Resume-page .resume-about #s9 h2 {
  font-size: 20px;
  color: #ffb400;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
}
.container .main #content #Resume-page .resume-about #s9 h3 {
  font-family: "Poppins", sans-serif;
  margin-bottom: 10px;
  color: #fff;
}
.container .main #content #Resume-page .resume-about #s9 p {
  font-family: "Poppins", sans-serif;
  color: #969a9b;
}
.container .main #content #Resume-page .resume-about #s10 {
  width: 500px;
  height: 150px;
  padding-left: 10px;
  border-bottom: 2px solid;
  border-image: linear-gradient(0.25turn, rgb(239, 212, 148), rgb(255, 180, 0), rgb(245, 216, 146));
  border-image-slice: 1;
  padding-top: 10px;
}
.container .main #content #Resume-page .resume-about #s10 h2 {
  font-size: 20px;
  color: #ffb400;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
}
.container .main #content #Resume-page .resume-about #s10 h3 {
  font-family: "Poppins", sans-serif;
  margin-bottom: 10px;
  color: #fff;
}
.container .main #content #Resume-page .resume-about #s10 p {
  font-family: "Poppins", sans-serif;
  color: #969a9b;
}
.container .main #content #Resume-page .resume-Experience {
  width: 90%;
  margin: auto;
  height: 42vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 5%;
}
.container .main #content #Resume-page .resume-Experience #s11 {
  width: 500px;
  height: 150px;
  border-right: 2px solid;
  border-bottom: 2px solid;
  border-image: linear-gradient(0.25turn, rgb(239, 212, 148), rgb(255, 180, 0), rgb(245, 216, 146));
  border-image-slice: 1;
}
.container .main #content #Resume-page .resume-Experience #s11 h2 {
  font-size: 20px;
  color: #ffb400;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
}
.container .main #content #Resume-page .resume-Experience #s11 h3 {
  font-family: "Poppins", sans-serif;
  margin-bottom: 10px;
  color: #fff;
}
.container .main #content #Resume-page .resume-Experience #s11 p {
  font-family: "Poppins", sans-serif;
  color: #969a9b;
}
.container .main #content #Resume-page .resume-Experience #s12 {
  width: 500px;
  height: 150px;
  border-bottom: 2px solid;
  border-image: linear-gradient(0.25turn, rgb(239, 212, 148), rgb(255, 180, 0), rgb(245, 216, 146));
  border-image-slice: 1;
  padding-left: 10px;
}
.container .main #content #Resume-page .resume-Experience #s12 h2 {
  font-size: 20px;
  color: #ffb400;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
}
.container .main #content #Resume-page .resume-Experience #s12 h3 {
  font-family: "Poppins", sans-serif;
  margin-bottom: 10px;
  color: #fff;
}
.container .main #content #Resume-page .resume-Experience #s12 p {
  font-family: "Poppins", sans-serif;
  color: #969a9b;
}
.container .main #content #Resume-page .resume-Experience #s13 {
  width: 500px;
  height: 150px;
  border-right: 2px solid;
  border-bottom: 2px solid;
  border-image: linear-gradient(0.25turn, rgb(239, 212, 148), rgb(255, 180, 0), rgb(245, 216, 146));
  border-image-slice: 1;
  padding-top: 10px;
}
.container .main #content #Resume-page .resume-Experience #s13 h2 {
  font-size: 20px;
  color: #ffb400;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
}
.container .main #content #Resume-page .resume-Experience #s13 h3 {
  font-family: "Poppins", sans-serif;
  margin-bottom: 10px;
  color: #fff;
}
.container .main #content #Resume-page .resume-Experience #s13 p {
  font-family: "Poppins", sans-serif;
  color: #969a9b;
}
.container .main #content #Resume-page .resume-Experience #s14 {
  width: 500px;
  height: 150px;
  padding-left: 10px;
  border-bottom: 2px solid;
  border-image: linear-gradient(0.25turn, rgb(239, 212, 148), rgb(255, 180, 0), rgb(245, 216, 146));
  border-image-slice: 1;
  padding-top: 10px;
}
.container .main #content #Resume-page .resume-Experience #s14 h2 {
  font-size: 20px;
  color: #ffb400;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
}
.container .main #content #Resume-page .resume-Experience #s14 h3 {
  font-family: "Poppins", sans-serif;
  margin-bottom: 10px;
  color: #fff;
}
.container .main #content #Resume-page .resume-Experience #s14 p {
  font-family: "Poppins", sans-serif;
  color: #969a9b;
}
.container .main #content #portfolio {
  margin: auto;
  width: 99%;
  height: 70vh;
  overflow: hidden;
  overflow-y: scroll;
}
.container .main #content #portfolio .title {
  margin: 0 auto;
  width: 100%;
  position: relative;
  padding: 80px 0;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.container .main #content #portfolio .title .title-bg {
  font-size: 60px;
  left: 0;
  letter-spacing: 10px;
  line-height: 0.7;
  position: absolute;
  right: 0;
  top: 50%;
  text-transform: uppercase;
  font-weight: 800;
  transform: translateY(-50%);
  color: hsla(0deg, 0%, 100%, 0.07);
}
.container .main #content #portfolio .title h1 {
  font-size: 30px;
  font-weight: 900 !important;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
}
.container .main #content #portfolio .title h1 span {
  color: #ffb400;
}
.container .main #content #blog-page {
  width: 99%;
  height: 70vh;
  overflow: hidden;
  overflow-y: scroll;
}
.container .main #content #blog-page .title1 {
  margin: 0 auto;
  width: 100%;
  position: relative;
  padding: 80px 0;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.container .main #content #blog-page .title1 .title-bg {
  font-size: 60px;
  left: 0;
  letter-spacing: 10px;
  line-height: 0.7;
  position: absolute;
  right: 0;
  top: 50%;
  text-transform: uppercase;
  font-weight: 800;
  transform: translateY(-50%);
  color: hsla(0deg, 0%, 100%, 0.07);
}
.container .main #content #blog-page .title1 h1 {
  font-size: 30px;
  font-weight: 900 !important;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
}
.container .main #content #blog-page .title1 h1 span {
  color: #ffb400;
}
.container .main #content #blog-page .blog-about {
  width: 90%;
  margin: auto;
  height: 65vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px 40px;
  margin-bottom: 5%;
}
.container .main #content #blog-page .blog-about #s01 {
  width: 390px;
  position: relative;
  height: 300px;
  background-image: url("../image/tim-van-der-kuip-CPs2X8JYmS8-unsplash.jpg");
  object-fit: cover;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  border: 3px solid #969a9b;
}
.container .main #content #blog-page .blog-about #s01 .content-blog {
  position: absolute;
  transition-duration: 1000ms;
  transition-property: all;
  height: 230px;
  width: 80%;
  margin-left: 30%;
  margin-top: 5%;
  border-radius: 5px;
  padding: 15px;
  background: rgba(34, 38, 41, 0.5);
  backdrop-filter: blur(1px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  text-align: center;
  font-family: "sans-serif";
}
.container .main #content #blog-page .blog-about #s01 .content-blog:hover {
  background: #34383b;
  box-shadow: rgb(255, 180, 0) 3px 3px, rgb(255, 189, 36) 6px 8px, rgb(255, 200, 73) 9px 9px, rgb(255, 217, 128) 12px 12px, rgba(153, 203, 81, 0.05) 15px 15px;
}
.container .main #content #blog-page .blog-about #s01 .content-blog .content-blog-tittle h4 {
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
  color: #fff;
}
.container .main #content #blog-page .blog-about #s01 .content-blog .content-blog-tittle p {
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
  color: #6b6666;
}
.container .main #content #blog-page .blog-about #s01 .content-blog .content-blog-tittle hr {
  margin-top: 20px;
}
.container .main #content #blog-page .blog-about #s01 .content-blog .content-blog-tittle a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: #969a9b;
}
.container .main #content #blog-page .blog-about #s01 .content-blog .content-blog-comment {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.container .main #content #blog-page .blog-about #s01 .content-blog .content-blog-comment #blog-date, .container .main #content #blog-page .blog-about #s01 .content-blog .content-blog-comment #blog-name, .container .main #content #blog-page .blog-about #s01 .content-blog .content-blog-comment #blog-comment {
  text-align: center;
  width: 100px;
  height: 60px;
}
.container .main #content #blog-page .blog-about #s01 .content-blog .content-blog-comment #blog-date .bx, .container .main #content #blog-page .blog-about #s01 .content-blog .content-blog-comment #blog-name .bx, .container .main #content #blog-page .blog-about #s01 .content-blog .content-blog-comment #blog-comment .bx {
  color: #ffb400;
  font-size: 20px;
}
.container .main #content #blog-page .blog-about #s01 .content-blog .content-blog-comment #blog-date p, .container .main #content #blog-page .blog-about #s01 .content-blog .content-blog-comment #blog-name p, .container .main #content #blog-page .blog-about #s01 .content-blog .content-blog-comment #blog-comment p {
  color: #969a9b;
  font-family: "Poppins", sans-serif;
}
.container .main #content #blog-page .blog-about #s02 {
  width: 390px;
  position: relative;
  height: 300px;
  background-image: url("../image/andrew-neel-cckf4TsHAuw-unsplash.jpg");
  object-fit: cover;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  border: 3px solid #969a9b;
}
.container .main #content #blog-page .blog-about #s02 .content-blog {
  position: absolute;
  transition-duration: 1000ms;
  transition-property: all;
  height: 230px;
  width: 80%;
  margin-left: 30%;
  margin-top: 5%;
  border-radius: 5px;
  padding: 15px;
  background: rgba(34, 38, 41, 0.5);
  backdrop-filter: blur(1px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  text-align: center;
  font-family: "sans-serif";
}
.container .main #content #blog-page .blog-about #s02 .content-blog:hover {
  background: #34383b;
  box-shadow: rgb(255, 180, 0) 3px 3px, rgb(255, 189, 36) 6px 8px, rgb(255, 200, 73) 9px 9px, rgb(255, 217, 128) 12px 12px, rgba(153, 203, 81, 0.05) 15px 15px;
}
.container .main #content #blog-page .blog-about #s02 .content-blog .content-blog-tittle h4 {
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
  color: #fff;
}
.container .main #content #blog-page .blog-about #s02 .content-blog .content-blog-tittle p {
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
  color: #6b6666;
}
.container .main #content #blog-page .blog-about #s02 .content-blog .content-blog-tittle hr {
  margin-top: 20px;
}
.container .main #content #blog-page .blog-about #s02 .content-blog .content-blog-tittle a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: #969a9b;
}
.container .main #content #blog-page .blog-about #s02 .content-blog .content-blog-comment {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.container .main #content #blog-page .blog-about #s02 .content-blog .content-blog-comment #blog-date2, .container .main #content #blog-page .blog-about #s02 .content-blog .content-blog-comment #blog-name2, .container .main #content #blog-page .blog-about #s02 .content-blog .content-blog-comment #blog-comment2 {
  text-align: center;
  width: 100px;
  height: 60px;
}
.container .main #content #blog-page .blog-about #s02 .content-blog .content-blog-comment #blog-date2 .bx, .container .main #content #blog-page .blog-about #s02 .content-blog .content-blog-comment #blog-name2 .bx, .container .main #content #blog-page .blog-about #s02 .content-blog .content-blog-comment #blog-comment2 .bx {
  color: #ffb400;
  font-size: 20px;
}
.container .main #content #blog-page .blog-about #s02 .content-blog .content-blog-comment #blog-date2 p, .container .main #content #blog-page .blog-about #s02 .content-blog .content-blog-comment #blog-name2 p, .container .main #content #blog-page .blog-about #s02 .content-blog .content-blog-comment #blog-comment2 p {
  color: #969a9b;
  font-family: "Poppins", sans-serif;
}
.container .main #content #blog-page .blog-about #s03 {
  width: 390px;
  position: relative;
  height: 300px;
  background-image: url("../image/annie-spratt-QckxruozjRg-unsplash.jpg");
  object-fit: cover;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  border: 3px solid #969a9b;
}
.container .main #content #blog-page .blog-about #s03 .content-blog {
  position: absolute;
  transition-duration: 1000ms;
  transition-property: all;
  height: 230px;
  width: 80%;
  margin-left: 30%;
  margin-top: 5%;
  border-radius: 5px;
  padding: 15px;
  background: rgba(34, 38, 41, 0.5);
  backdrop-filter: blur(1px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  text-align: center;
  font-family: "sans-serif";
}
.container .main #content #blog-page .blog-about #s03 .content-blog:hover {
  background: #34383b;
  box-shadow: rgb(255, 180, 0) 3px 3px, rgb(255, 189, 36) 6px 8px, rgb(255, 200, 73) 9px 9px, rgb(255, 217, 128) 12px 12px, rgba(153, 203, 81, 0.05) 15px 15px;
}
.container .main #content #blog-page .blog-about #s03 .content-blog .content-blog-tittle h4 {
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
  color: #fff;
}
.container .main #content #blog-page .blog-about #s03 .content-blog .content-blog-tittle p {
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
  color: #6b6666;
}
.container .main #content #blog-page .blog-about #s03 .content-blog .content-blog-tittle hr {
  margin-top: 20px;
}
.container .main #content #blog-page .blog-about #s03 .content-blog .content-blog-tittle a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: #969a9b;
}
.container .main #content #blog-page .blog-about #s03 .content-blog .content-blog-comment {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.container .main #content #blog-page .blog-about #s03 .content-blog .content-blog-comment #blog-date4, .container .main #content #blog-page .blog-about #s03 .content-blog .content-blog-comment #blog-name4, .container .main #content #blog-page .blog-about #s03 .content-blog .content-blog-comment #blog-comment4 {
  text-align: center;
  width: 100px;
  height: 60px;
}
.container .main #content #blog-page .blog-about #s03 .content-blog .content-blog-comment #blog-date4 .bx, .container .main #content #blog-page .blog-about #s03 .content-blog .content-blog-comment #blog-name4 .bx, .container .main #content #blog-page .blog-about #s03 .content-blog .content-blog-comment #blog-comment4 .bx {
  color: #ffb400;
  font-size: 20px;
}
.container .main #content #blog-page .blog-about #s03 .content-blog .content-blog-comment #blog-date4 p, .container .main #content #blog-page .blog-about #s03 .content-blog .content-blog-comment #blog-name4 p, .container .main #content #blog-page .blog-about #s03 .content-blog .content-blog-comment #blog-comment4 p {
  color: #969a9b;
  font-family: "Poppins", sans-serif;
}
.container .main #content #blog-page .blog-about #s04 {
  width: 390px;
  position: relative;
  height: 300px;
  background-image: url("../image/bram-naus-n8Qb1ZAkK88-unsplash.jpg");
  object-fit: cover;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  border: 3px solid #969a9b;
}
.container .main #content #blog-page .blog-about #s04 .content-blog {
  position: absolute;
  transition-duration: 1000ms;
  transition-property: all;
  height: 230px;
  width: 80%;
  margin-left: 30%;
  margin-top: 5%;
  border-radius: 5px;
  padding: 15px;
  background: rgba(34, 38, 41, 0.5);
  backdrop-filter: blur(1px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  text-align: center;
  font-family: "sans-serif";
}
.container .main #content #blog-page .blog-about #s04 .content-blog:hover {
  background: #34383b;
  box-shadow: rgb(255, 180, 0) 3px 3px, rgb(255, 189, 36) 6px 8px, rgb(255, 200, 73) 9px 9px, rgb(255, 217, 128) 12px 12px, rgba(153, 203, 81, 0.05) 15px 15px;
}
.container .main #content #blog-page .blog-about #s04 .content-blog .content-blog-tittle h4 {
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
  color: #fff;
}
.container .main #content #blog-page .blog-about #s04 .content-blog .content-blog-tittle p {
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
  color: #6b6666;
}
.container .main #content #blog-page .blog-about #s04 .content-blog .content-blog-tittle hr {
  margin-top: 20px;
}
.container .main #content #blog-page .blog-about #s04 .content-blog .content-blog-tittle a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: #969a9b;
}
.container .main #content #blog-page .blog-about #s04 .content-blog .content-blog-comment {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.container .main #content #blog-page .blog-about #s04 .content-blog .content-blog-comment #blog-date6, .container .main #content #blog-page .blog-about #s04 .content-blog .content-blog-comment #blog-name6, .container .main #content #blog-page .blog-about #s04 .content-blog .content-blog-comment #blog-comment6 {
  text-align: center;
  width: 100px;
  height: 60px;
}
.container .main #content #blog-page .blog-about #s04 .content-blog .content-blog-comment #blog-date6 .bx, .container .main #content #blog-page .blog-about #s04 .content-blog .content-blog-comment #blog-name6 .bx, .container .main #content #blog-page .blog-about #s04 .content-blog .content-blog-comment #blog-comment6 .bx {
  color: #ffb400;
  font-size: 20px;
}
.container .main #content #blog-page .blog-about #s04 .content-blog .content-blog-comment #blog-date6 p, .container .main #content #blog-page .blog-about #s04 .content-blog .content-blog-comment #blog-name6 p, .container .main #content #blog-page .blog-about #s04 .content-blog .content-blog-comment #blog-comment6 p {
  color: #969a9b;
  font-family: "Poppins", sans-serif;
}
.container .main #content #contact-page {
  width: 99%;
  height: 70vh;
  overflow: hidden;
  overflow-y: scroll;
}
.container .main #content #contact-page .title2 {
  margin: 0 auto;
  width: 100%;
  position: relative;
  padding: 80px 0;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.container .main #content #contact-page .title2 .title-bg {
  font-size: 60px;
  left: 0;
  letter-spacing: 10px;
  line-height: 0.7;
  position: absolute;
  right: 0;
  top: 50%;
  text-transform: uppercase;
  font-weight: 800;
  transform: translateY(-50%);
  color: hsla(0deg, 0%, 100%, 0.07);
}
.container .main #content #contact-page .title2 h1 {
  font-size: 30px;
  font-weight: 900 !important;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
}
.container .main #content #contact-page .title2 h1 span {
  color: #ffb400;
}
.container .main #content #contact-page .map-location {
  width: 100%;
  height: 400px;
  margin-left: 20px;
  margin-bottom: 10%;
}
.container .main #content #contact-page .map-location iframe {
  width: 95%;
  height: 450px;
  margin: auto;
}
.container .main #content #contact-page #contact-message {
  margin: auto;
  width: 95%;
  height: 50vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.container .main #content #contact-page #contact-message .callme {
  width: 100%;
  height: 250px;
  flex-basis: 50%;
}
.container .main #content #contact-page #contact-message .callme .info-contact {
  margin-top: 24px;
  padding-bottom: 10px;
  position: relative;
}
.container .main #content #contact-page #contact-message .callme .info-contact .icon {
  float: left;
}
.container .main #content #contact-page #contact-message .callme .info-contact .icon .bx {
  font-size: 30px;
  padding-right: 20px;
  color: #ffb400;
}
.container .main #content #contact-page #contact-message .callme .info-contact .icon::before {
  display: inline-block;
  font-family: bootstrap-icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -0.125em;
}
.container .main #content #contact-page #contact-message .callme .info-contact .info-text h5 {
  font-family: "Poppins", sans-serif;
  color: #e0e0e0;
  font-size: 16px;
  margin-bottom: 5px;
}
.container .main #content #contact-page #contact-message .callme .info-contact .info-text small {
  font-family: "Poppins", sans-serif;
  color: #969a9b;
  font-size: 14px;
}
.container .main #content #contact-page #contact-message .message {
  width: 60%;
  height: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.container .main #content #contact-page #contact-message .message .btn {
  width: 200px;
  height: 61px;
  margin-top: 20px;
  margin-left: -20px;
  text-align: center;
}
.container .main #content #contact-page #contact-message .message .btn .buttons-io-button {
  margin: auto;
  background: #ffb400;
  color: white;
  font-family: sans-serif;
  padding-left: 1em;
  font-size: 17px;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #ffb400;
  height: 2.8em;
  width: 150px;
}
.container .main #content #contact-page #contact-message .message input {
  width: 400px;
  height: 20px;
  border: none;
  margin-bottom: 30px;
  background-color: transparent;
  border-bottom: 1px solid #cbccce;
  color: #fff;
}
.container .main #content #contact-page #contact-message .message input:hover {
  border-style: none;
  border-bottom: 1px solid #ffb400;
}
.container .main #content #contact-page #contact-message .message input::placeholder {
  font-family: "Poppins", sans-serif;
}
.container .main #content #contact-page #contact-message .message textarea {
  width: 400px;
  height: 150px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #cbccce;
  margin-bottom: 10px;
  color: #fff;
}
.container .main #content #contact-page #contact-message .message textarea::placeholder {
  font-family: "Poppins", sans-serif;
}
.container .main #footer {
  width: 100%;
  flex-basis: 10%;
  height: 550px;
  background-color: #343539;
  border-radius: 20px;
  font-size: 20px;
}
.container .main #footer #date {
  margin-top: 15px;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
}
.container .main #footer #date span {
  display: block;
  font-size: 15px;
  text-align: center;
  color: #fff;
  font-family: sans-serif;
}
.container .main #footer #date span b {
  font-family: sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #ffb400;
  text-align: center;
}
.container .main #footer .social-box {
  position: relative;
  left: 50%;
  top: 47%;
  transform: translate(-50%, -50%);
  width: 1.5rem;
}
.container .main #footer .social-box .bx {
  color: white;
  font-size: 20px;
  margin: 5px 0;
}
.container .main #footer .social-box .follow-label {
  padding-right: 5rem;
  position: absolute;
  bottom: 85%;
  right: 0;
  line-height: 1.5rem;
  height: 1.5rem;
  white-space: nowrap;
  transform-origin: 100% 0;
  text-align: right;
  transform: rotate(90deg);
}
.container .main #footer .social-box .follow-label span {
  color: white;
  font-family: sans-serif;
  font-size: 16px;
}
.container .main #footer .social-box .follow-label::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 60px;
  height: 2px;
  background-color: #ffb400;
}
.container .main #footer .next-prev-page {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  bottom: 15px;
  z-index: 1031;
  margin-bottom: -159px;
}
.container .main #footer .next-prev-page button {
  background-color: transparent;
  border: 2px solid #ffb400;
  color: #ffb400;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 12px;
  text-align: center;
  position: relative;
  margin-bottom: 10px;
}
.container .main #footer .next-prev-page button .bx {
  font-size: 25px;
  color: #ffb400;
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
